# sandbox directories (for future)
sandbox/
tests/

# dependencies and objects from build process
common/dep/*
common/obj/*
encoder/dep/*
encoder/obj/*
decoder/dep/*
decoder/obj/*
colourizer/dep/*
colourizer/obj/*

# H.264 output files
jm/data.txt
jm/log.dat
jm/stats.dat
jm/test.264
jm/jm.log
jm/leakybucketparam.cfg

# bin/build/b files
bin/
build/
b/

# extra test files akiyo, coastguard, and football
# and unzipped ldpca files
data/akiyo
data/coastguard
data/football
data/ldpca

# graphics and results
bin/psnrdata.txt
*.png
*.jpg
*.csv
*.py
bin/run_test.sh
bin/output.txt
bin/*results*

# compile_command json files
compile_commands.json
tags
